@import 'tailwindcss' source('../../');

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@theme {
  --font-body: 'Inter Variable', sans-serif;
  --font-sans: 'Inter Variable', sans-serif;
  --font-mono: 'Geist Mono', 'monospace';

  /* Controlls the max-width of UI elements */
  --container-ui: 80rem;
}
