@import 'tailwindcss' source('../../');

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --font-body: 'Geist Sans', 'sans-serif';
  --font-sans: 'Geist Sans', 'sans-serif';
  --font-mono: 'Geist Mono', 'monospace';
}
